/* ============ GERAL ============ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --bg-dark: hsl(140, 6%, 9%);
  --primary-color: hsl(358, 100%, 31%);
  --box-shadow-color: hsl(140, 6%, 6%);
  font-size: 62.5%;
}

body {
  background-color: var(--bg-dark);
  font-family: 'Squada One';
  color: white;
}

/* ============ NAVIGATION ============ */

nav#navigation {
  width: 100vw;
  height: 9.5rem;
  background-color: var(--primary-color);
  border-bottom: 1.1rem solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0.75rem 0.75rem var(--box-shadow-color);
}

#navigation header h1 {
  font-size: 4.8rem;
  text-align: center;
}

/* ============ PRODUCT ============ */

#product {
  font-family: 'Righteous';
  font-size: 2.4rem;
  width: 100%;
}

#product .wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 14.7rem;
  padding-left: 4.9rem;
  padding-right: 8.3rem;
  gap: 6rem;
}

#product .content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

#product .col-a img {
  width: 100%;
}


#product .content div.price,
#product .content div.preparation {
  display: flex;
  flex-direction: row;
}


#product .content .value {
  font-family: 'Roboto';
}

#product .content .description {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

@media (max-width: 1310px) {

  #product .wrapper {
    width: min(112rem, 100%);
    flex-direction: column;
    padding-bottom: 4rem;
  }

}